.profile-bar {
	display: flex;
	position: absolute;
	top: 1%;
	left: 1%;
	height: 10vh;
	width: 20vw;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 20px;
  	background: #61777aee;
	justify-content: space-around;
	animation: colorChangeProfileBar 3s infinite;
	font-size: min(1vw, 1.7vh);
	align-items: center;
}

.profile-stats p{
	font-size: 1em;
}

@keyframes colorChangeProfileBar {
	0% {
		box-shadow: 0 0 25px #ffffff;
		box-shadow: 0 0 50px #41ffff;
	}

	50% {
		box-shadow: 0 0 10px #ffffff;
		box-shadow: 0 0 20px #41ffff;
	}

	100% {
		box-shadow: 0 0 25px #ffffff;
		box-shadow: 0 0 50px #41ffff;
	}
}

.profile-bar .profile-photo {
	max-width: 30%;
	max-height: 80%;
	border-radius: 50%;
	align-self: center;
}
