.ChatDisplay {
    max-height: 100%;
    overflow-y: scroll;
}

.offset-list {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.basic-list {
  list-style: none;
  padding-left: 0;
}

.horizontal-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.horizontal-list li {
  margin-right: 0px;
}

.conversation-list-container {
  height: 95vh;
  overflow-y: auto;
  direction: rtl;
  width: 270px;
}

.profile-picture {
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  width: 20px;
}

.conversation-display {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(130, 130, 130);
  color: white;
}

.conversation-display.selected {
  background-color: rgb(85, 85, 85);
}


.chatbox-container {
  display:flex
}

.chatbox-display {
  flex:1;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(130, 130, 130);
  color: white;
}

