/* __________________CustomFont__________________ */
@font-face {
	font-family: 'game';
	src: url('../../../public/fonts/game/Games.ttf') format('truetype');
}

/* __________________GlassContainerSettings__________________ */
.glass-container-settings {
	position: fixed;
	left: 10%;
	top: 25%;
	height: 45vh;
	width: 25vw;
	background: #330033;
	opacity: 0.9;
	border-radius: 16px;
	border: 2px solid #551155;
	border-radius: 20px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: slideInSettings 1s ease forwards;
	animation: colorChangeSettings 2s ease infinite;
	resize: both;
	overflow: auto;
	cursor: move;
}

@keyframes	colorChangeSettings {
	0% {
		box-shadow: 0 0px 10px #ff41ff;
	} 50% {
		box-shadow: 0 0px 20px #ff41ff;
	} 100% {
		box-shadow: 0 0px 10px #ff41ff;
	}
}

@keyframes	slideInSettings {
	0% {
		left:	-100%;
	} 33% {
		left:	25%;
	} 66% {
		left:	7.5%;
	}
}

/* __________________Settings__________________ */
.glass-container-settings .settings {
	position: absolute;
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
	align-items: center;

}

.glass-container-settings .QRCode {
	position: absolute;
	width: 10vh;
	height: 10vh;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}

.glass-container-settings .switch {
	position: relative;
	display: inline;
	height: 40px;
	width: 90px;
	;
	margin-top: 0 10px;
}

.glass-container-settings .switch-container {
	display: flex;
	align-items: center;
}

.glass-container-settings h2 {
	font-size: 3vw;
	color: #fff;
	text-align: center;
	font-family: 'game', sans-serif;
	text-shadow: 0 0 10px #fff, 0 0 30px blue, 0 0 40px rgb(0, 0, 0), 0 0 60px blue
}

.glass-container-settings .switch-label {
	font-size: 1.2vw;
	font-family: 'game', sans-serif;
	color: white;
	margin-right: 1vw;
}

.glass-container-settings .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 3vw;
	height: 3vh;
	background-color: rgb(137, 9, 15);
	transition: .4s;
	border-radius: 50px;

}

.glass-container-settings .switch input {
	display: none;
}

.glass-container-settings .slider:before {
	position: absolute;
	content: "";
	height: 80%;
	width: 50%;
	left: 0.2vh;
	bottom: 0.2vw;
	background-color: white;
	align-self: center;
	transition: 0.4s;
	border-radius: 50%;
	box-shadow: 0 0 10px red;
	box-shadow: 0 0 25px red;
	box-shadow: 0 0 50px red;
}

.glass-container-settings input:checked+.slider {
	background-color: rgb(10, 110, 15);
	box-shadow: 0 0 10px green;
	box-shadow: 0 0 25px green;
	box-shadow: 0 0 50px green;
}

.glass-container-settings input:checked+.slider::before {
	transform: translateX(30px);
}
