@keyframes colorChangeLeft {
	0% {
		box-shadow: 0 0px 10px #41ffff
	} 50% {
		box-shadow: 0 0px 20px #41ffff
	} 100% {
		box-shadow: 0 0px 10px #41ffff
	}
}

@keyframes dropDown {
	0% {
		top: -100%;
	} 33% {
		top: 35%;
	} 66% {
		top: 15%;
	}
}

@keyframes colorChangeRight {
	0% {
		box-shadow: 0 0px 10px #ff41ff
	} 50% {
		box-shadow: 0 0px 20px #ff41ff
	} 100% {
		box-shadow: 0 0px 10px #ff41ff
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

@keyframes bg-spin {
	to {
		--border-angle: 1turn;
	}
}

.glass-container-matchmaking {
	position: fixed;
	left: 10%;
	top: 20%;
	height: 65%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	animation: dropDown 1s ease forwards;
}

.sub-container {
	width: 100%;
	height: 15%;
	font-size: 1em;
	color: #fff;
	text-align: center;
	font-family: 'game', sans-serif;
	text-shadow: 0 0 10px #41ffff, 0 0 15px #ff41ff;
	border-radius: 16px;
	border-radius: 20px;
}

.players {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
}

.player-one {
	display: flex;
	width: 30vw;
	height: 20vw;
	border-radius: 15px;
	align-items: center;
	justify-content: space-around;
	border: 3px solid #aa00aa;
	box-shadow: 0 0 60px rgb(235, 3, 235);
  	background: #7a6177ee;
	opacity: 0.95;
	animation: colorChangeRight 2s infinite;
}

.player-two {
	display: flex;
	width: 30vw;
	height: 20vw;
	border-radius: 15px;
	align-items: center;
	justify-content: space-around;
	border: 3px solid #00aaaa;
	box-shadow: 0 0 50px rgb(0, 255, 255);
  	background: #61777aee;
	opacity: 0.95;
	animation: colorChangeLeft 2s infinite;
}

.player-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	border: 4px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0px 30px rgb(239, 4, 239);
	border-radius: 20px;

}

.buttons {
	display: flex;
	width: 100%;
	height: 20%;
	align-items: center;
	justify-content: center;
	gap: 5%;
}



.glass-container-matchmaking p {
	font-size: 1rem;
	font-family: 'game', sans-serif;
	color: white;
}

.glass-container-matchmaking img {
	width: 40%;
	background-color: #faf5f5f7;
	border-radius: 50%;
	/* box-shadow: 0 0 40px rgba(245, 243, 243, 0.5); */
}

.glass-container-matchmaking button {
	width: 10%;
	height: 60%;
	border-radius: 100px;
	font-family: 'game', sans-serif;
	font-size: min(2vw, 2vh);
	background-color: #ffffff;
}

.glass-container-matchmaking button:hover {
	box-shadow: 0 0px 30px rgb(247, 245, 247);
}

.mode-button {
	background: #ffffff;
	font-family: 'game', sans-serif;
	text-align: center;
}
/* _________________________________________________________ */
