:root {
    --about-width: 40vh;
    --about-height: 70vh;
  }
 
@keyframes	colorBlue {
	0%, 100% {
		box-shadow: 0 0 20px #41ffff;
	}
	50% {
		box-shadow: 0 0 40px #41ffff;
	}
}
 
@keyframes	colorRed {
	0%, 100% {
		box-shadow: 0 0 20px #ff41ff;
	}
	50% {
		box-shadow: 0 0 40px #ff41ff;
	}
}

  .about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50vh - calc(var(--about-height) / 2));
    left: 20vw;
    height: 66%;
    width: 20%;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: #7a6177ee;
    border-radius: 20px;
    gap: 5vh;
    animation: slideTopAbout 1s ease forwards;
  }

  .about-box-two, .about-box-two-devs::-webkit-scrollbar {
	  display: none;
  }
  
  .about-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 99%;
    border-radius: 15px;
    background: rgba(8, 8, 8, 0.5);
    animation: colorRed 3s infinite;
    overflow-y: scroll;
  }
  
  .about-box-devs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50vh - calc(var(--about-height) / 2));
    right: 20vw;
    height: 66%;
    width: 20%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: #61777aee;
  
    /* border: 1px solid #ff41a7; */
    border-radius: 20px;
    gap: 5vh;
    animation: slideTopAboutDevs 1s ease forwards;
  }
  
  .about-box-two-devs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 99%;
    border-radius: 15px;
    background: rgba(8, 8, 8, 0.5);
    animation: colorBlue 3s infinite;
    overflow-y: scroll;
  }
  
  @keyframes slideTopAbout {
	0% {
		left: -20%;
	}

	100% {
		left: 10%;
	}
}

@keyframes slideTopAboutDevs {
	0% {
		left: 100%;
	}

	100% {
		left: 70%;
	}
}
  
  .about-box h1 {
    align-items: center;
    font-size: min(1.8em, 1.8vw);
    color: #fff;
    font-family: "game", sans-serif;
    margin-bottom: 10px;;
    text-shadow: 0 0 10px #aa41aa;
  }
  .about-box-devs h1 {
    align-items: center;
    font-size: min(1.8em, 1.8vw);
    color: #fff;
    font-family: "game", sans-serif;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #41aaaa;
  }
  
  .about-box-devs h2 {
    align-items: center;
    font-size: 2em;
    color: #fff;
    font-family: "game", sans-serif;
    margin-bottom: 10px;
    font-size: min(1.8em, 1.8vw);
    /* text-shadow: 0 0 10px #fff, 0 0 4px #41ffff, 0 0 8px #41ffff, 0 0 60px #41ffff; */
  }

  .about-box span {
    align-items: center;
    font-size: 100%;
    color: #fff;
    display: block;
    margin-bottom: 0.5vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
    font-size: min(1em, 1vw);
  }
  
  .profile-box .profile-photo {
    margin-top: 2vh;
    max-width: 20vh;
    max-height: 80%;
    border-radius: 50%;
    align-self: center;
    margin-left: 5%;
  }
  
  .profile-box .profile-photo:hover {
    margin-top: 2vh;
    max-width: 20vh;
    max-height: 80%;
    border-radius: 50%;
    align-self: center;
  
    background-color: #000;
    opacity: 0.7;
  }

  .about-box-devs img {
    margin-top: 5%;
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
  }
  
  /* _________________________________________________________________ */
