:root {
  --profile-width: 40vh;
  --profile-height: 70vh
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50vh - calc(var(--profile-height)/2));
  left: 30vh;
  height: var(--profile-height);
  width: var(--profile-width);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  gap: 5vh;
  animation: slideTop 1.5s ease forwards, colorChange 2s infinite;
}

@keyframes slideTop {
  0% {
    display: flex;
    top: 1%;
    left: 1%;
    height: 10vh;
    width: 30vh;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    justify-content: space-around;
  }
}
  .audio {
	box-shadow: 0 0 30px rgb(0, 255, 255);
	border-radius: 25px;
	position: fixed;
	bottom: 2%;
	left: 40%;
  z-index: 1;
  
	/* Animation styles */
	animation: pulse 0.3s infinite alternate, colores 4s infinite;
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(1.1);
	}
  }
  
  @keyframes colores {
	0%, 100% {
	  box-shadow: 0 0 60px rgb(0, 255, 255);
	}
	50% {
	  box-shadow: 0 0 60px rgb(235, 3, 235);
	}
  }
  

  .profile-box-two{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	height: 95%;
	border-radius: 15px;
	background: rgba(8, 8, 8, 0.5);
  }


.profile-box p {
  align-items: center;
  font-size: 100%;
  color: #fff;
  font-family: 'game', sans-serif;
}

.profile-box a {
  align-items: center;
  font-size: 100%;
  color: #fff;
  font-family: 'game', sans-serif;
}

@keyframes colorChange {
  0% {
    box-shadow: 0 0 100px #ffffff;
    box-shadow: 0 0 200px #0400ff;
  }

  50% {
    box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 20px #0400ff;
  }

  100% {
    box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 20px #0400ff;
  }
}

.profile-box .main {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.profile-box .profile-photo {
  margin-top: 2vh;
  max-width: 20vh;
  max-height: 80%;
  border-radius: 50%;
  align-self: center;
}

.profile-box .profile-photo:hover {
  margin-top: 2vh;
  max-width: 20vh;
  max-height: 80%;
  border-radius: 50%;
  align-self: center;

  background-color:#000;
  opacity:0.7;
}

.profile-box .stats {
  height: 100%;
  width: 100%;
  text-align: center;
}

.profile-box .stats-values {
  height: 100%;
  width: 100%;
  text-align: center;
}

.profile-box .buttons-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

/* _________________________________________________________________ */