/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  margin: 0;
}

button {
  background-color: #61dafb;
  color: white;
  font-size: 16px;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #4fa3d1;
}

.About-Me-Content {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .About-Me-Content {
    padding: 10px;
  }
}
