@keyframes button-on{
    0%{
        bottom: 70%;
        right: 0;
    }
    100%{
        bottom: 64%;
        right: 20.5%
    }
}

@keyframes button-off{
    0%{
        bottom: 64%;
        right: 20.5%;
    }
    50%{
        bottom: 50%;
        right: 10%;
    }
    100%{
        bottom: 70%;
        right: 0;
    }
}

.glass-container-minichat-button-on{
    display: flex;
    position:fixed;
    bottom: 64%;
    right: 20.5%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    animation : button-on linear 1s;
}


.glass-container-minichat-button-off{
    display: flex;
    position:fixed;
    bottom: 70%;
    right: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation : button-off linear 1s;
}


.chat-icon {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 1);
   background-color: rgba(0, 234, 255, 0.3);
   box-shadow: 0 0 40px 10px rgba(0, 232, 253, 1);
   border-radius: 50%;
}
