@keyframes button-on{
    0%{
        bottom: 70%;
        right: 0;
    }
    100%{
        bottom: 64%;
        right: 20.5%
    }
}

@keyframes button-off{
    0%{
        bottom: 64%;
        right: 20.5%;
    }
    50%{
        bottom: 50%;
        right: 10%;
    }
    100%{
        bottom: 70%;
        right: 0;
    }
}

.glass-container-minichat-button-on{
    display: flex;
    position:fixed;
    bottom: 64%;
    right: 20.5%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    align-items: center;
    background: rgba(249, 248, 248, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.982);
    cursor: pointer;
    z-index: 2;
    animation : button-on linear 1s;
}


.glass-container-minichat-button-off{
    display: flex;
    position:fixed;
    bottom: 70%;
    right: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    align-items: center;
    background: rgba(249, 248, 248, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.982);
    cursor: pointer;
    animation : button-off linear 1s;
}

.minichat-icon{
    width: 90%;
}