.glass-container-twofactor {
	position: fixed;
	height: 44%;
	width: 20%;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	animation: slideInRight 2s ease forwards;
  }

  @keyframes slideInRight {
	0% {
		left: 18%;
		top: 28%;
	}
	100% {
		left: 62%;
		top: 28%;
	}
  }

  /* ______________________________________________________________*/

  .twoFactorValidate{
	position: absolute;
	top: 8%;
	font-size: 3vw;
	color: #fff;
	font-family: 'game', sans-serif;
	text-shadow: 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px;
  }

  .glass-container-twofactor p{
	font-size: 1.33vw;
	font-family: 'game', sans-serif;
	color: white;
	text-shadow: 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px
  }

  .glass-container-twofactor form{
	--size: 2vw;
	--space: 1vw;
	padding-left: var(--space);
	position: relative;
	top: 20%;
	display: flex;
	overflow: hidden;
	border-radius: calc(var(--size) / 4);
	box-shadow: 0 1em 2em var(--softTint);
	transition: var(--bounce);
  }

  .glass-container-twofactor input[type="checkbox"]{
	position: absolute;
	opacity: 0.001;
  }

  	input[type="number"] {
		appearance: none;
		-webkit-appearance: none;
		height: 100%;
		width: var(--size);
		height: calc(var(--size) * 1.4);
		font-size: calc(var(--size) * 0.7);
		text-align: center;
		border: 0.12em solid var(--softTint);
		border-radius: calc(var(--size) * 0.2);
		outline: none;
		margin: var(--space);
		margin-left: 0;
		transition: var(--ease);
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
		&:not(:placeholder-shown) {
			border-color: var(--primary);
		}
	}

	input:focus {
		border-color: #007bff;
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	  }